@import "tailwindcss";

@theme {
  --color-border: oklch(0.922 0.004 286.32);
  --color-input: oklch(0.922 0.004 286.32);
  --color-ring: oklch(0.705 0.015 286.07);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.141 0.005 285.82);
  --color-primary: oklch(0.21 0.006 285.88);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.967 0.001 286.38);
  --color-secondary-foreground: oklch(0.21 0.006 285.88);
  --color-destructive: oklch(0.577 0.245 27.33);
  --color-destructive-foreground: oklch(0.577 0.245 27.33);
  --color-muted: oklch(0.967 0.001 286.38);
  --color-muted-foreground: oklch(0.552 0.016 286.07);
  --color-accent: oklch(0.967 0.001 286.38);
  --color-accent-foreground: oklch(0.21 0.006 285.88);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.141 0.005 285.82);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.141 0.005 285.82);
  --color-safe: oklch(0.723 0.191 149.58);
  --color-safe-foreground: oklch(0.166 0.058 149.58);
  --radius-lg: 0.5rem;
  --radius-md: calc(var(--radius-lg) - 2px);
  --radius-sm: calc(var(--radius-lg) - 4px);
}

.dark {
  --color-border: oklch(0.274 0.006 286.03);
  --color-input: oklch(0.274 0.006 286.03);
  --color-ring: oklch(0.442 0.017 285.79);
  --color-background: oklch(0.141 0.005 285.82);
  --color-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.985 0 0);
  --color-primary-foreground: oklch(0.21 0.006 285.88);
  --color-secondary: oklch(0.274 0.006 286.03);
  --color-secondary-foreground: oklch(0.985 0 0);
  --color-destructive: oklch(0.396 0.141 25.72);
  --color-destructive-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.274 0.006 286.03);
  --color-muted-foreground: oklch(0.705 0.015 286.07);
  --color-accent: oklch(0.274 0.006 286.03);
  --color-accent-foreground: oklch(0.985 0 0);
  --color-popover: oklch(0.141 0.005 285.82);
  --color-popover-foreground: oklch(0.985 0 0);
  --color-card: oklch(0.141 0.005 285.82);
  --color-card-foreground: oklch(0.985 0 0);
  --color-safe: oklch(0.723 0.191 149.58);
  --color-safe-foreground: oklch(0.982 0.018 149.58);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
